type theme_data_file, file_type, data_file_type, core_data_file_type;

allow system_app theme_data_file:dir {add_name rw_file_perms};
allow system_app theme_data_file:file {create rw_file_perms};

allow uncrypt theme_data_file:dir rw_dir_perms;  
allow uncrypt theme_data_file:file rw_file_perms;
